<div class="card-container">
<div class="card-detail">
    <div class="card-image-detail">

    </div>
    <div class="card-text">
  <h3 class="card-title">
        {{title}}
    </h3>
    <h5 class="card-description">
        {{description}}
    </h5>
    <p>
        Precio: ${{price}}
    </p>
    <p>
        Status: {{status}}
    </p>
    <p>
        Codigo: {{code}}
    </p>
    <p>
        Categoria: {{category}}
    </p>
    <button class="card-button"> Agregar al carrito</button>
    </div> 
</div>
</div>

<script src="js/products.js"></script>